<launch>

    <!-- 咖啡指令視覺辨識 -->
    <node name="coffee_supply_srv" pkg="object_detect" type="coffee_supply_srv.py" output="screen" />

    <!-- 上升機構拿咖啡視覺辨識 -->
    <!-- <node name="coffee_taker_server_node" pkg="object_detect" type="coffee_taker_srv.py" output="screen" /> -->

    <!-- 觀察點橘子視覺辨識 -->
    <!-- <node name="orange_detection_srv" pkg="object_detect" type="orange_detection_srv.py" output="screen" /> -->

    <!-- 上升機構摘橘子的微調 -->
    <!-- <node name="orange_taker_server_node" pkg="object_detect" type="orange_taker_srv.py" output="screen" /> -->

    <!-- <node name="orange_detection" pkg="object_detect" type="orange_detection.py" output="screen" /> -->

    <!-- 測試 -->
    <!-- <node name="object_detection_node" pkg="object_detect" type="object_detection.py" output="screen" /> -->
    
</launch>