<launch>

  <arg name="teleop" default="true" />
  <arg name="method" default="web" /> <!-- gui, joystick, keyboard -->
  <arg name="sensor" default="false" />

  <!-- Connect to the wheels -->
  <include file="$(find dlv_plate_ctrl)/launch/bringup.launch" />

  <!-- Connect to the sensors -->
  <include file="$(find camera)/launch/camera.launch" 
  if="$(arg sensor)"/>

  <!-- Teleop -->
  <include file="$(find dlv_teleop)/launch/teleop.launch" 
  if="$(arg teleop)">
    <arg name="method" value="$(arg method)" />
  </include>
  
</launch>