<launch>

  <!-- Methods setting -->
  <arg name="scan_method" default="scan" /> <!-- scan, bag, sim -->
  <arg name="odom_method" default="mecanum" /> <!-- calc, hector -->

  <!-- Connect to the wheels -->
  <include file="$(find dlv_plate_ctrl)/launch/four_wheeled_motor.launch" />

  <!-- Navigation -->
  <include file="$(find dlv_mln)/launch/navigation.launch" >
    <arg name="scan_method" value="$(arg scan_method)" />
    <arg name="odom_method" value="$(arg odom_method)" />
  </include>

  <!-- Goal -->
  <!-- <node pkg="dlv_plate_ctrl" name="s_shape" type="s_shape.py" output="screen">
  </node> -->

</launch>