<launch>
  <!-- Plate -->
  <include file="$(find dlv_plate_ctrl)/launch/bringup.launch" />

  <!-- Laser -->
  <include file="$(find rplidar_ros)/launch/rplidar_s2.launch" />

  <!-- Record bag file -->
  <node pkg="rosbag" type="record" name="record" args="-a -o $(find dlv_bag)/src/" output="screen" />

</launch>