<launch>

  <!-- <arg name="mapping_method" default="gmapping" /> -->

  <!-- Launch lidar -->
  <!-- <include file="$(find rplidar_ros)/launch/rplidar_s2.launch" /> -->

  <!-- Teleop -->
  <!-- <include file="$(find dlv_teleop)/launch/teleop.launch" /> -->

  <!-- Connect to the wheels -->
  <!-- <include file="$(find dlv_plate_ctrl)/launch/bringup.launch" /> -->

  <!-- Calculate Odom -->
  <!-- <include file="$(find odom_two_wheel_chassis)/launch/odom.launch" /> -->

  <!-- Static Transform Publisher -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0 0 0 0 base_link laser" /> -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="laser_to_scan_broadcaster" args="0 0 0 0 0 0 laser scan" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0 0 0 0 base_footprint base_link 100"/> -->

  <!-- Mapping -->
  <!-- <include file="$(find dlv_mln)/launch/include/hector_mapping.launch" /> -->

  <!-- Rviz -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dlv_mln)/rviz/gmapping.rviz" /> -->

</launch>