<launch>
  <!-- Plate -->
  <include file="$(find dlv_plate_ctrl)/launch/four_wheeled_motor.launch" />

  <node pkg="rqt_plot" type="rqt_plot" name="motor_rpm_plot"
          args="/front_left_wheel/rpm /front_right_wheel/rpm /rear_left_wheel/rpm /rear_right_wheel/rpm"
          output="screen" />

  <node pkg="dlv_plate_ctrl" name="motor_respond_pub" type="motor_respond_pub" output="screen" />

   <!-- odom -->
  <!-- <include file="$(find odom_two_wheel_chassis)/launch/odom_mecanum.launch" /> -->
  <!-- args="/front_left_wheel/rpm /front_right_wheel/rpm /rear_left_wheel/rpm /rear_right_wheel/rpm" -->



  <node name = "main_control" pkg = "main_control" type = "A_to_C_motor.py" output = "screen" />

</launch>