<launch>
  <!-- Plate -->
  <include file="$(find dlv_plate_ctrl)/launch/four_wheeled_motor.launch" />

  <node pkg="dlv_plate_ctrl" name="motor_respond_pub" type="motor_respond_pub" output="screen" />

   <!-- odom -->
  <!-- <include file="$(find odom_two_wheel_chassis)/launch/odom_mecanum.launch" /> -->

  <node name = "main_control" pkg = "main_control" type = "A_take_ball_2.py" output = "screen" />

</launch>