<launch>

    <!-- Methods setting -->
    <arg name="scan_method" default="bag" /> <!-- scan, bag, sim -->
    <arg name="odom_method" default="hector" /> <!-- calc, hector -->
    <arg name="local_planner_method" default="base" />

    <!-- Rviz setting -->
    <arg name="rviz" default="nav" /> <!-- nav, loc, none -->

    <!--- AMCL -->
    <include file="$(find dlv_mln)/launch/localization.launch" >
      <arg name="scan_method" value="$(arg scan_method)" />
      <arg name="odom_method" value="$(arg odom_method)" />
      <arg name="rviz" default="false" unless="$(eval arg('rviz') == 'loc')"/>
		</include>

    <!-- Move Base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find dlv_mln)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find dlv_mln)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find dlv_mln)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find dlv_mln)/config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find dlv_mln)/config/$(arg local_planner_method)_local_planner_params.yaml" command="load" />
      <rosparam file="$(find dlv_mln)/config/move_base_params.yaml" command="load" />
      <remap from="/cmd_vel" to="/dlv/cmd_vel"/>
    </node>

    <!-- Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dlv_mln)/rviz/move_base.rviz" 
      if="$(eval arg('rviz') == 'nav')"/>

</launch> 