<launch>

    <arg name="scan_method" default="bag" /> <!-- scan, bag, sim -->
    <arg name="odom_method" default="hector" /> <!-- calc, hector -->

		<!-- Params -->
		<arg name="x" default="0.3"/>
		<arg name="y" default="2.4"/>
		<arg name="yaw" default="1.5708"/>
    <arg name="rviz" default="true"/>

    <!--- AMCL -->
    <include file="$(find dlv_mln)/launch/localization.launch" >
      <arg name="scan_method" value="$(arg scan_method)" />
      <arg name="odom_method" value="$(arg odom_method)" />
		</include>

    <!-- Move Base -->
    <include file="$(find dlv_mln)/launch/move_base.launch" />

    <!-- Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dlv_mln)/rviz/move_base.rviz" 
      if="$(arg rviz)"/>

</launch> 