<launch>

    <arg name="scan_method" default="scan" /> <!-- scan, bag, sim -->
    <arg name="odom_method" default="hector" /> <!-- calc, hector -->
    <arg name="rviz" default="true" />

    <!--- AMCL -->
    <include file="$(find dlv_mln)/launch/localization.launch" >
      <arg name="scan_method" value="$(arg scan_method)" />
      <arg name="odom_method" value="$(arg odom_method)" />
		</include>

    <!-- Move Base -->
    <include file="$(find dlv_mln)/launch/move_base.launch" />

    <!-- Set TF Buffer duration -->
    <!-- <param name="/tf_buffer_duration" value="10.0"/> -->

    <!-- Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dlv_mln)/rviz/move_base.rviz" 
      if="$(arg rviz)"/>

</launch> 