div#dpad_zone {
  position: absolute;
  top: 130px;
  right: 0px;
  width: 150px;
  height: 150px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  place-items: center center;
  border-radius: 15px;
}

button.pressed {
  background-color: #3700B3;
  transform: scale(1.2);
}

button {
  width: 60px;
  height: 60px; 
  background-color: #61dafb;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease;
}

button#up {
  grid-row: 1;
  grid-column: 1;
  border-radius: 50% 50% 0 0;
}

button#down {
  grid-row: 2;
  grid-column: 1;
  border-radius: 0 0 50% 50%;
}