# Set the udev rule , make the device_port be fixed by rplidar
# Rule for the first RPLIDAR (e.g., front-facing) identified by its unique serial number
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="168a262d5113ec11aa3ffbef7a109228", MODE:="0666", SYMLINK+="rplidar_front"

# Rule for the second RPLIDAR (e.g., rear-facing) identified by its unique serial number
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="e22cf48ec113ec11b2d8f2ef7a109228", MODE:="0666", SYMLINK+="rplidar_rear"
